<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework" parallel="methods" thread-count="4" preserve-order ="true" >
  <test name="Framework">
    <classes>
    
        <class name="framework.sample.tests.BrowserTest"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
